{% extends 'base.html.twig' %}

{% block title %}Browse courses{% endblock %}

{% block body %}

    {% if pagination.data|length > 0 %}

        <div class="container">
            <h1 class="text-body-secondary text-center py-5">Trending courses 🔥</h1>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    {% for course in trendingCourses %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide 1"></button>
                    {% endfor %}

                </div>
                <div class="carousel-inner">

                    {% for course in trendingCourses %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ course.thumbnail }}" class="trending-course" alt="{{ course.title }}'s course thumbnail">
                            <div class="carousel-caption text-white d-none d-md-block">
                                <h5 class="lead">{{ course.title }}</h5>
                                <p>{{ course.firstName }} {{ course.lastName }}</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    {% endif %}


    <div class="container" id="courses">
        <div class="row my-5">

            {% if pagination.data|length == 0 %}
                <h1 class="text-center display-6 mt-5">There is no available course at the moment</h1>
                <h2 class="text-center py-lg-0 mb-5 lead">Refresh this page later</h2>
            {% else %}

                {% set activeCourses = pagination.data|filter(course => course.active) %}

                {% for course in activeCourses|sort %}
                    {% include 'course/_card.html.twig' %}
                {% endfor %}

                {{ pagination.display }}

            {% endif %}

        </div>
    </div>


{% endblock %}
