{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Settings</h1>

        {{ form_start(form) }}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {% for child in form.children %}
                    {% for error in child.vars.errors %}
                        <div class="bg-danger rounded-2 ps-2 py-2 pe-2">
                            {{ error.message }} <br>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-5">
                <div class="alert bg-transparent border-light">
                    <h2 class="alert-heading">Basic Information</h2>
                    <hr>
                    <div class="form-group">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.picture) }}
                        {{ form_widget(form.picture) }}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="alert bg-transparent border-light">
                    <h2 class="alert-heading">Details</h2>
                    <hr>
                    <div class="form-group">
                        {{ form_label(form.introduction) }}
                        {{ form_widget(form.introduction) }}
                    </div>

                    <button type="submit" class="btn btn-success mt-5">Save ✅</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}