{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-5 py-5">
            <div class="col-4 offset-4">
                <div class="alert bg-transparent border-light py-3 px-3">
                    <h1 class="text-center">Change Password</h1>
                    <hr>
                    {% for child in form.children %}
                        {% for error in child.vars.errors %}
                            <div class="bg-danger rounded-2 px-2 py-2 mb-3">
                                {{ error.message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{form_label(form.oldPassword)}}
                        {{ form_widget(form.oldPassword) }}
                    </div>

                    <div class="form-group">
                        {{form_label(form.newPassword)}}
                        {{form_widget(form.newPassword)}}
                    </div>

                    <div class="form-group">
                        {{form_label(form.confirmPassword)}}
                        {{form_widget(form.confirmPassword)}}
                    </div>

                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-primary mt-3">Change Password ➡️</button>
                        {{ form_end(form) }}
                    </div>

                    <div class="form-group">
                        <p class="text-center"><a href="{{ path('user_forget_password') }}">Forgot password?</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}