<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>SkillSpark &bull; Password Change</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Reset your SkillSpark password</h1>
        <p>Hello, {{ firstName }},</p>
        <p>It seems that you have requested a password change on SkillSpark.</p>
        <p>To proceed, please click the button or on the address below</p>
        <p class="text-capitalize small">If you did not ask for a password reset, please ignore this message and change your password.</p>
        <a href="{{ absolute_url(path('user_reset_password', {'token': token}))  }}" class="text-center mt-5 mb-3"><button class="btn btn-dark">Change my password</button></a>
        <a href="{{ absolute_url(path('user_reset_password', {'token': token}))  }}" class="text-center small">{{ absolute_url(path('user_reset_password', {'token': token}))  }}</a>
    </div>
</div>
<script src="{{ asset('/assets/js/bootstrap.min.js') }}"></script>
</body>
</html>

